<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @volunteer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @volunteer.last_name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @volunteer.organization %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
